In [1]:
import mysql.connector
import pandas as pd

db = mysql.connector.connect(
  host="iosqlde.onairnet.xyz",
  user="assemblerReader",
  password="!Reader2022",
  database="sqlCourse"
)

def sql(query):
    return pd.read_sql_query(query, db)

# Optional
import warnings
warnings.filterwarnings("ignore")

In [2]:
sql("SELECT * FROM flights")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,LH85_20221008,2022-10-08,LH85,scheduled,D-AINH,A20N,LH,LH,DUS,FRA,0 days 19:50:00,0 days 20:40:00,0
1,OS117_20221008,2022-10-08,OS117,scheduled,OE-LWH,E195,OS,OS,VIE,MUC,0 days 19:50:00,0 days 20:50:00,0
2,LH2030_20221008,2022-10-08,LH2030,scheduled,D-AILK,A319,LH,LH,MUC,DUS,0 days 19:30:00,0 days 20:40:00,0
3,OS632_20221008,2022-10-08,OS632,scheduled,OE-LWO,E195,OS,OS,WAW,VIE,0 days 19:20:00,0 days 20:35:00,0
4,OS505_20221008,2022-10-08,OS505,scheduled,OE-LBQ,A320,OS,OS,VIE,FCO,0 days 19:15:00,0 days 20:45:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,UX7232_20220912,2022-09-12,UX7232,flown,EC-LVR,B738,UX,UX,LCG,MAD,0 days 08:35:00,0 days 09:45:00,0
99996,EW33_20220912,2022-09-12,EW33,flown,D-AEWS,A320,EW,EW,HAM,CGN,0 days 08:30:00,0 days 09:30:00,0
99997,EW7171_20220912,2022-09-12,EW7171,flown,D-AGWG,A319,EW,EW,MUC,HAM,0 days 08:30:00,0 days 09:50:00,0
99998,EW7785_20220912,2022-09-12,EW7785,flown,D-AKNT,A319,EW,EW,BUD,HAM,0 days 08:30:00,0 days 10:10:00,0
99999,EW9029_20220912,2022-09-12,EW9029,flown,D-ABGH,A319,EW,EW,DRS,DUS,0 days 08:30:00,0 days 09:45:00,0

In [3]:
sql("SELECT * FROM flights where airline = 'VY'")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,VY1452_20221008,2022-10-08,VY1452,scheduled,EC-JYX,None,VY,VY,BIO,ALC,0 days 09:00:00,0 days 10:20:00,0
1,VY3714_20221008,2022-10-08,VY3714,scheduled,EC-MVN,A320,VY,VY,BCN,MAH,0 days 09:00:00,0 days 09:55:00,0
2,VY2477_20221008,2022-10-08,VY2477,scheduled,EC-NIY,A20N,VY,VY,SPU,BCN,0 days 08:45:00,0 days 11:00:00,0
3,VY3935_20221008,2022-10-08,VY3935,scheduled,EC-MBT,A320,VY,VY,PMI,ALC,0 days 08:45:00,0 days 09:50:00,0
4,VY7991_20221008,2022-10-08,VY7991,scheduled,EC-MYB,A320,VY,VY,MRS,ALG,0 days 08:45:00,0 days 09:20:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13694,VY7991_20220912,2022-09-12,VY7991,flown,EC-MKV,A319,VY,VY,MRS,ALG,0 days 08:45:00,0 days 09:20:00,0
13695,VY1241_20220912,2022-09-12,VY1241,flown,EC-LLJ,A320,VY,VY,ALC,CWL,0 days 08:40:00,0 days 10:10:00,0
13696,VY3903_20220912,2022-09-12,VY3903,flown,EC-MGY,A321,VY,VY,PMI,BCN,0 days 08:40:00,0 days 09:35:00,0
13697,VY6723_20220912,2022-09-12,VY6723,flown,EC-LVO,A320,VY,VY,SPU,FCO,0 days 08:40:00,0 days 09:50:00,0
13698,VY8477_20220912,2022-09-12,VY8477,flown,EC-MDZ,A320,VY,VY,OPO,BCN,0 days 08:40:00,0 days 11:25:00,0

In [4]:
sql("SELECT * FROM flights WHERE operator= 'IB' AND airline='AY'")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,AY1653_20221008,2022-10-08,AY1653,scheduled,EC-JGS,A321,AY,IB,HEL,BCN,0 days 17:05:00,0 days 20:05:00,0
1,AY1661_20221008,2022-10-08,AY1661,scheduled,EC-IGK,A321,AY,IB,HEL,MAD,0 days 16:50:00,0 days 20:25:00,0
2,AY1662_20221008,2022-10-08,AY1662,scheduled,EC-IGK,A321,AY,IB,MAD,HEL,0 days 10:15:00,0 days 15:25:00,0
3,AY1654_20221008,2022-10-08,AY1654,scheduled,EC-JGS,A321,AY,IB,BCN,HEL,0 days 10:05:00,0 days 15:10:00,0
4,AY1653_20221007,2022-10-07,AY1653,scheduled,EC-JGS,A321,AY,IB,HEL,BCN,0 days 17:05:00,0 days 20:05:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AY1654_20220913,2022-09-13,AY1654,flown,EC-IGK,A321,AY,IB,BCN,HEL,0 days 10:05:00,0 days 15:10:00,0
96,AY1653_20220912,2022-09-12,AY1653,flown,EC-IGK,A321,AY,IB,HEL,BCN,0 days 17:05:00,0 days 20:05:00,0
97,AY1661_20220912,2022-09-12,AY1661,flown,EC-ILO,A321,AY,IB,HEL,MAD,0 days 16:50:00,0 days 20:25:00,0
98,AY1662_20220912,2022-09-12,AY1662,flown,EC-ILO,A321,AY,IB,MAD,HEL,0 days 10:15:00,0 days 15:25:00,0
99,AY1654_20220912,2022-09-12,AY1654,flown,EC-IGK,A321,AY,IB,BCN,HEL,0 days 10:05:00,0 days 15:10:00,0

In [5]:
sql("SELECT * FROM flights WHERE operator= 'OS' LIMIT 5")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,OS117_20221008,2022-10-08,OS117,scheduled,OE-LWH,E195,OS,OS,VIE,MUC,0 days 19:50:00,0 days 20:50:00,0
1,OS632_20221008,2022-10-08,OS632,scheduled,OE-LWO,E195,OS,OS,WAW,VIE,0 days 19:20:00,0 days 20:35:00,0
2,OS505_20221008,2022-10-08,OS505,scheduled,OE-LBQ,A320,OS,OS,VIE,FCO,0 days 19:15:00,0 days 20:45:00,0
3,OS902_20221008,2022-10-08,OS902,scheduled,OE-LWJ,E195,OS,OS,INN,VIE,0 days 18:50:00,0 days 19:50:00,0
4,OS515_20221008,2022-10-08,OS515,scheduled,OE-LWI,E195,OS,OS,VIE,MXP,0 days 18:25:00,0 days 19:50:00,0

In [6]:
sql("SELECT * FROM flights WHERE airline= 'UX' order by flightDate DESC LIMIT 5")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,UX77_20221007,2022-10-08,UX77,scheduled,EC-NBM,B789,UX,UX,MAD,LIM,0 days 00:35:00,0 days 05:10:00,0
1,UX41_20221007,2022-10-07,UX41,scheduled,EC-NEI,B789,UX,UX,MAD,EZE,0 days 23:55:00,0 days 07:35:00,1
2,UX57_20221007,2022-10-07,UX57,scheduled,EC-NGM,B789,UX,UX,MAD,GRU,0 days 23:45:00,0 days 05:25:00,1
3,UX6103_20221007,2022-10-07,UX6103,scheduled,EC-LPR,B738,UX,UX,BCN,PMI,0 days 22:00:00,0 days 22:45:00,0
4,UX6049_20221007,2022-10-07,UX6049,scheduled,EC-LUT,B738,UX,UX,MAD,PMI,0 days 21:45:00,0 days 23:05:00,0

In [7]:
sql("SELECT distinct(flightNumber) FROM flights")

     flightNumber
0            LH85
1           OS117
2          LH2030
3           OS632
4           OS505
...           ...
8940       FR8782
8941       VY6377
8942       FRG586
8943       VY6961
8944       EW2943

[8945 rows x 1 columns]

In [8]:
sql("SELECT * FROM flights WHERE origin= 'MAD' AND destination='BCN' AND depTime BETWEEN '09:00' AND '15:00'")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,IB3010_20221002,2022-10-02,IB3010,flown,EC-HUI,A321,IB,IB,MAD,BCN,0 days 09:15:00,0 days 10:35:00,0
1,IB3010_20221001,2022-10-01,IB3010,flown,EC-LRG,A320,IB,IB,MAD,BCN,0 days 09:15:00,0 days 10:35:00,0
2,IB3010_20220928,2022-09-28,IB3010,flown,EC-ILO,A321,IB,IB,MAD,BCN,0 days 09:15:00,0 days 10:35:00,0
3,IB3010_20220927,2022-09-27,IB3010,flown,EC-LUL,A320,IB,IB,MAD,BCN,0 days 09:15:00,0 days 10:35:00,0
4,IB3010_20220926,2022-09-26,IB3010,flown,EC-NTO,A20N,IB,IB,MAD,BCN,0 days 09:15:00,0 days 10:35:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,IB3016_20220915,2022-09-15,IB3016,flown,EC-ILP,A321,IB,IB,MAD,BCN,0 days 14:30:00,0 days 15:50:00,0
119,IB3016_20220914,2022-09-14,IB3016,flown,EC-IXD,A321,IB,IB,MAD,BCN,0 days 14:30:00,0 days 15:50:00,0
120,IB3016_20220913,2022-09-13,IB3016,flown,EC-IXD,A321,IB,IB,MAD,BCN,0 days 14:30:00,0 days 15:50:00,0
121,IB3016_20220912,2022-09-12,IB3016,flown,EC-IZH,A320,IB,IB,MAD,BCN,0 days 14:30:00,0 days 15:50:00,0
122,IB36_20220912,2022-09-12,IB36,flown,EC-NNH,A332,IB,IB,MAD,BCN,0 days 15:00:00,0 days 16:10:00,0

In [9]:
sql("SELECT * FROM flights WHERE operator <> 'FR' AND dateDiff > 0")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,IB6841_20221007,2022-10-07,IB6841,scheduled,EC-NBE,A359,IB,IB,MAD,EZE,0 days 23:59:00,0 days 07:40:00,1
1,IB6409_20221007,2022-10-07,IB6409,scheduled,EC-NIS,A359,IB,IB,MAD,MEX,0 days 23:55:00,0 days 04:20:00,1
2,IB6827_20221007,2022-10-07,IB6827,scheduled,EC-MAA,A333,IB,IB,MAD,GRU,0 days 23:55:00,0 days 05:40:00,1
3,UX41_20221007,2022-10-07,UX41,scheduled,EC-NEI,B789,UX,UX,MAD,EZE,0 days 23:55:00,0 days 07:35:00,1
4,LH729_20221007,2022-10-07,LH729,scheduled,D-ABYK,B748,LH,LH,PVG,FRA,0 days 23:50:00,0 days 07:25:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,LH8388_20220912,2022-09-12,LH8388,flown,D-ALFH,B77L,LH,LH,FRA,NRT,0 days 11:00:00,0 days 07:00:00,1
3645,LH8430_20220912,2022-09-12,LH8430,flown,D-ALFI,None,LH,LH,FRA,PEK,0 days 10:50:00,0 days 03:20:00,1
3646,UX16_20220912,2022-09-12,UX16,flown,EC-NXA,None,UX,UX,SAP,MAD,0 days 10:40:00,0 days 05:05:00,1
3647,UX176_20220912,2022-09-12,UX176,flown,EC-NBM,B789,UX,UX,LIM,MAD,0 days 10:20:00,0 days 05:10:00,1
3648,LH8440_20220912,2022-09-12,LH8440,flown,D-ALFK,B77L,LH,LH,FRA,ICN,0 days 08:50:00,0 days 03:20:00,1

In [10]:
sql("SELECT * FROM flights WHERE RIGHT(flightNumber, 2) = 80")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,IB3480_20221008,2022-10-08,IB3480,scheduled,EC-NJU,A20N,IB,IB,MAD,GVA,0 days 09:40:00,0 days 11:35:00,0
1,VY8980_20221008,2022-10-08,VY8980,scheduled,EC-MAO,A320,VY,VY,BCN,BRU,0 days 06:50:00,0 days 09:00:00,0
2,LH1180_20221007,2022-10-07,LH1180,scheduled,D-AISI,A321,LH,LH,FRA,OPO,0 days 21:00:00,0 days 22:45:00,0
3,VY8480_20221007,2022-10-07,VY8480,scheduled,EC-NEA,A20N,VY,VY,BCN,OPO,0 days 20:15:00,0 days 21:10:00,0
4,VY2180_20221007,2022-10-07,VY2180,scheduled,EC-MEA,A320,VY,VY,VLC,LIS,0 days 19:40:00,0 days 20:25:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,FR380_20220912,2022-09-12,FR380,flown,EI-DWR,B738,FR,FR,DUB,HHN,0 days 11:10:00,0 days 14:10:00,0
841,FR2680_20220912,2022-09-12,FR2680,flown,9H-QEI,B738,FR,FR,JTR,NAP,0 days 10:40:00,0 days 11:40:00,0
842,FR8280_20220912,2022-09-12,FR8280,flown,9H-QCZ,B738,FR,FR,MLA,LUX,0 days 10:15:00,0 days 13:00:00,0
843,IB3480_20220912,2022-09-12,IB3480,flown,EC-MXU,A20N,IB,IB,MAD,GVA,0 days 09:40:00,0 days 11:35:00,0
844,LH880_20220912,2022-09-12,LH880,flown,D-AING,A20N,LH,LH,FRA,TLL,0 days 09:30:00,0 days 12:45:00,0

In [11]:
sql("SELECT * FROM flights WHERE LEFT(acPlate, 2) <> 'EC'")

,leg,flightDate,flightNumber,status,acPlate,acType,airline,operator,origin,destination,depTime,arrTime,dateDiff
0,LH85_20221008,2022-10-08,LH85,scheduled,D-AINH,A20N,LH,LH,DUS,FRA,0 days 19:50:00,0 days 20:40:00,0
1,OS117_20221008,2022-10-08,OS117,scheduled,OE-LWH,E195,OS,OS,VIE,MUC,0 days 19:50:00,0 days 20:50:00,0
2,LH2030_20221008,2022-10-08,LH2030,scheduled,D-AILK,A319,LH,LH,MUC,DUS,0 days 19:30:00,0 days 20:40:00,0
3,OS632_20221008,2022-10-08,OS632,scheduled,OE-LWO,E195,OS,OS,WAW,VIE,0 days 19:20:00,0 days 20:35:00,0
4,OS505_20221008,2022-10-08,OS505,scheduled,OE-LBQ,A320,OS,OS,VIE,FCO,0 days 19:15:00,0 days 20:45:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77572,LH75_20220912,2022-09-12,LH75,flown,D-AINY,A20N,LH,LH,DUS,FRA,0 days 08:35:00,0 days 09:25:00,0
77573,EW33_20220912,2022-09-12,EW33,flown,D-AEWS,A320,EW,EW,HAM,CGN,0 days 08:30:00,0 days 09:30:00,0
77574,EW7171_20220912,2022-09-12,EW7171,flown,D-AGWG,A319,EW,EW,MUC,HAM,0 days 08:30:00,0 days 09:50:00,0
77575,EW7785_20220912,2022-09-12,EW7785,flown,D-AKNT,A319,EW,EW,BUD,HAM,0 days 08:30:00,0 days 10:10:00,0
77576,EW9029_20220912,2022-09-12,EW9029,flown,D-ABGH,A319,EW,EW,DRS,DUS,0 days 08:30:00,0 days 09:45:00,0

In [12]:
sql("SELECT * FROM airports WHERE NOT name like '%airport%'")

,id,iata,locale,name,code,latitude,longitude,elevation,country,state,continent
0,1419,TER,en,Lajes Field,TER_en,38.75388,38.75388,212,PT,Azores,EU
1,1656,MEX,en,Aeropuerto Internacional Benito JuÃ¡rez,MEX_en,19.436076,19.436076,7299,MX,Mexico,AN
2,3763,BED,en,Hanscom Field,BED_en,42.463183,42.463183,122,US,Massachusetts,NA
3,3861,MAF,en,Midland International Air and Space Port,MAF_en,31.941739,31.941739,2849,US,Texas,NA
4,3909,FYV,en,Drake Field,FYV_en,35.066088,35.066088,104,US,Arkansas,NA

In [13]:
sql("SELECT * FROM airports WHERE country = 'FR' and continent <> 'EU'")

Empty DataFrame
Columns: [id, iata, locale, name, code, latitude, longitude, elevation, country, state, continent]
Index: []

In [14]:
sql("SELECT * FROM airports WHERE iata like 'M_A'")

,id,iata,locale,name,code,latitude,longitude,elevation,country,state,continent
0,421,MAA,en,Chennai International Airport,MAA_en,12.994112,12.994112,35,IN,Tamil Nadu,AS
1,1035,MLA,en,Malta International Airport,MLA_en,35.854113,35.854113,257,MT,Southern Region,EU
2,2491,MIA,en,Miami International Airport,MIA_en,25.795865,25.795865,7,US,Florida,NA
3,4222,MWA,en,Williamson County Regional Airport,MWA_en,37.751994,37.751994,452,US,Illinois,NA

In [15]:
sql("SELECT * FROM airports WHERE country = 'ES' and elevation < 1000")

,id,iata,locale,name,code,latitude,longitude,elevation,country,state,continent
0,1628,TFS,en,Tenerife South Airport,TFS_en,28.045772,28.045772,210,ES,Tenerife,EU
1,1631,ALC,en,Alicanteâ€“Elche Airport,ALC_en,38.285483,38.285483,93,ES,Murcia,EU
2,1634,BCN,en,Barcelona Airport,BCN_en,41.297445,41.297445,7,ES,Barcelona,EU
3,1637,AGP,en,MÃ¡lagaâ€“Costa del Sol Airport,AGP_en,36.674952,36.674952,47,ES,MÃ¡laga,EU
4,1640,PMI,en,Palma de Mallorca Airport,PMI_en,39.551741,39.551741,40,ES,Madrid,EU
5,1643,SCQ,en,Santiago de Compostela Airport,SCQ_en,42.90296,42.90296,272,ES,La CoruÃ±a,EU
6,1646,SVQ,en,Seville Airport,SVQ_en,37.420167,37.420167,77,ES,Sevilla,EU
7,1654,LEI,en,AlmerÃ­a Airport,LEI_en,36.847526,36.847526,69,ES,Almeria,EU
8,1659,BIO,en,Bilbao Airport,BIO_en,43.302494,43.302494,126,ES,Vizcaya,EU
9,1665,LCG,en,A CoruÃ±a Airport,LCG_en,43.301741,43.301741,313,ES,La CoruÃ±a,EU
10,1667,GRO,en,Girona-Costa Brava Airport,GRO_en,41.898201,41.898201,407,ES,Gerona,EU
11,2464,VLC,en,Valencia Airport,VLC_en,39.489233,39.489233,174,ES,Valencia,EU
12,2620,IBZ,en,Ibiza Airport,IBZ_en,38.874859,38.874859,31,ES,,EU
13,2625,LPA,en,Gran Canaria Airport,LPA_en,27.933185,27.933185,61,ES,Las Palmas,EU
14,2626,MAH,en,Menorca Airport,MAH_en,39.865430,39.865430,277,ES,,EU
15,2663,ACE,en,Lanzarote Airport,ACE_en,28.950438,28.950438,55,ES,Las Palmas,EU
16,2671,REU,en,Reus Airport,REU_en,41.146976,41.146976,251,ES,,EU
17,2673,SPC,en,La Palma Airport,SPC_en,28.622357,28.622357,105,ES,Tenerife,EU
18,2675,XRY,en,Jerez Airport,XRY_en,36.745294,36.745294,84,ES,CÃ¡diz,EU
19,3059,FUE,en,El Matorral Airport,FUE_en,28.451077,28.451077,83,ES,Las Palmas,EU
20,3541,SDR,en,Santander Airport,SDR_en,43.425557,43.425557,6,ES,,EU
21,3545,VGO,en,Vigo-Peinador Airport,VGO_en,42.225676,42.225676,843,ES,Pontevedra,EU
22,3547,ZAZ,en,Zaragoza Airport,ZAZ_en,41.663537,41.663537,803,ES,,EU
23,3640,EAS,en,San SebastiÃ¡n Airport,EAS_en,43.356757,43.356757,9,ES,GuipÃºzcoa,EU
24,3643,OVD,en,Asturias Airport,OVD_en,43.561015,43.561015,419,ES,,EU

In [16]:
sql("SELECT * FROM airports WHERE name like '%international%' AND continent = 'EU' and elevation > 2000")

Empty DataFrame
Columns: [id, iata, locale, name, code, latitude, longitude, elevation, country, state, continent]
Index: []